<div class="parent">
    <header class="header">Header</header>
    <main class="main">
        <h4 class="id-title">Identyfikator Serwisanta Kas Rejestrujących Novitus</h4>
        <div class="id-contatiner">


            <ng-container *ngIf="technician$ | async as technician">
                <div class="employee-data">

                    <div class="employee-photo">
                        <img class="employee-image" src='https://www.w3schools.com/howto/img_avatar.png'
                             alt="Employee Photo">
                    </div>
                    <div class="employee-details">
                        <h5 class="employee-name">Imie i nazwisko
                            serwisanta: {{ technician.ImieSerwisanta + ' ' + technician.NazwiskoSerwisanta }}</h5>
                        <p class="employee-id">Nr plomby: {{ technician.NrPlomby }}</p>
                    </div>
                </div>
                <div class="data-sap" style="background: #F89D1B">
                    <div>
                        <p>Data ważności:</p>
                        <p> {{ technician.DataWaznosci }}</p>
                    </div>
                    <div>
                        <p>Dane SAP</p>
                        <p>44</p>
                    </div>
                </div>
            </ng-container>

        </div>


    </main>
    <footer class="footer">Footer Content

        <div class="lower-panel">
            <div class="company-details">
                    <span>
                        Dane podmiotu prowadzącego serwis główny kas rejestrujących i wystawiającego identyfikator:
                    </span>
                <h2>COMP SA Warszawa, Oddział Nowy Sącz NOVITUS - Centrum Technologii Sprzedaży</h2>
                <p>ul. Nawojowska 118, 33-300 Nowy Sącz</p>
            </div>
        </div>
    </footer>
</div>
