<app-plain-card>
    <div class="login-container">
        <h2>Logowanie Serwisanta</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <input id="klucz" type="text" formControlName="klucz" placeholder="Auth Key">
            </div>
            <div class="form-field">
                <input id="numerSap" type="text" formControlName="numerSap" placeholder="Sap Number">
            </div>
            <div class="form-field">
                <input id="pesel" type="text" formControlName="pesel" placeholder="Pesel">
            </div>


            <div class="form-field">
                <button class="login-button" type="submit" [disabled]="loginForm.invalid || isLoading">
                    {{ isLoading ? 'Logowanie...' : 'LOG IN' }}
                </button>
            </div>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
        </form>
    </div>

    <!--<p>TVJRJPXSPBB25DWHHGVN604UVAQ0ORMXWZSZ3SCMX3KB05L14MMWLGRAVSZITOWK <br> 44 <br> 33333333333</p> -->
</app-plain-card>
